.register-background {
    background-image: linear-gradient(rgba(0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../image/register2.jpg");
    height: 900px;
}

@media (max-width: 768px) {
    .register-background {
        height: auto;
    }
}

.card {
    width: 500px;
    margin-top: 5%!important;
    margin-left: 30% !important;
}